* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dedede;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.450);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56e3ff84;
    padding: 1rem;
    position: relative;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    width: 100%;
    text-align: left;
    /* display: flex; */
    /* justify-content: space-between; */
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #56e3ff84;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #56e3ff84;
}

.input-box label, 
.type-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.error-message {
    font-size: 0.75rem;
    font-weight: 600;
    color: #e53935;
    margin-top: 0.25rem;
}

.next-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #56e3ff84;
    padding: 0.62rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000000;
}

.next-button button:hover {
    background-color: #7e7e7e;
}

.type-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0 0.5rem;
}

.type-input {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem 1rem;
}

.type-input input {
    margin-right: 0.4rem;
}

.type-input label {
    font-size: 0.85rem;
    font-weight: 600;
    color: #000000c0;
}

.previous-next-button,
.send-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.previous-next-button button,
.send-button button {
    width: calc(50% - 0.5rem);
    margin-top: 2.5rem;
    border: none;
    background-color: #56e3ff84;
    padding: 0.62rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #000000;
}

.previous-next-button button:hover,
.send-button button:hover {
    background-color: #7e7e7e;
}

.review {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 2rem;
}

.review div {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    padding: 1rem 1.5rem 1rem
    ;
}

.review div:last-child {
    margin-bottom: 0;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    .type-inputs {
        margin-top: 2rem;
    }

    .type-group {
        flex-direction: column;
    }

    .type-title {
        margin: 0;
    }

    .type-input {
        margin-top: 0.5rem;
    }
}